


@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;400&display=swap");
@font-face {
  font-family: "Glonto";
  src: url("/fonts/Glonto-Regular.woff2") format("woff2");
  font-weight: 400;
}

@import "tailwindcss";


html, body {
  overflow-x: hidden;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
    scroll-behavior: smooth;
}